body {margin: 1%;
font-size: large;
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: black;
color: aliceblue;
font-size: x-large;}

a {color: white ; text-decoration: none;}
a:hover {color: rgb(0, 238, 255); font-style: italic;}
a:active {color: rgb(255, 87, 176); font-style: oblique;}


/*header inställningar*/
header {display: flex;
        justify-content: space-evenly;}

h1 {text-align: center;}

#profil {width: 160px;}

nav {width: 80%;
    border: 2px dashed white;
    border-radius: 10px;
    display: flex;
    justify-content: center;}

ul {width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0px;}

.menu {display: inline; 
    font-family:'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', 
    Geneva, Verdana, 
    sans-serif;
    font-size: larger;}

/*Main css*/
main {display: flex;
    justify-content: space-around;}

h2 {text-align: center;}

#hobbies, #bio, #exp {border: 2px dashed white;
text-align: justify; 
width: 370px;
color: rgb(233, 236, 245);
text-shadow: 1px 2px 2px rgb(0, 0, 0);}

#hobbies p, #bio p, #exp p {border-radius: 10px;
padding: 2%;}
                            
/*Project page*/
figure {display: flex;
flex-direction: column;
margin: 0px;}

a.project_button {height: 313px; 
background-image: url(bilder/Skärmbild\ 2023-10-25\ 161701.png);
border-radius: 10px;}

a#csharp {width: 500px;
background-position: 0px 0px;}
a#csharp:hover {background-position: 0px -313px;}
a#csharp:active {background-position: 0px -626px;}



/*contact me page*/

fieldset {display: flex;
justify-content: space-around;
flex-direction: column;}

.info_upper {display: flex;
justify-content: space-around;}

.input {display: flex;
flex-direction: column;
justify-content: space-around;}

#textarea {display: flex;
flex-direction: column;
}
#sub {width: 30%;}

.integrity {display:  flex;
justify-content: flex-start;}

#button {width: 20%;}

/*footer css*/
footer {display: flex;
    justify-content: space-around;
    border-radius: 10px;}

h3 {text-align: center;}


#buttontop {text-align: right;
position: sticky;
right: 0px;}
            
.contact_info {display: flex;
flex-direction: column;}
                    
.socials {width: 33%;
display: flex;
justify-content: space-between;
flex-direction: column;
}
.social_logos {display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}
.logo {width: 60px;
    margin: 10px;}
.ovrigt {display: flex;
flex-direction: column;}

/*drop down button*/
.dropdown_button {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    padding: 16px;
    font-size: inherit;
    border: none;
    border-radius: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown_content {
    display: none;
    position: absolute;
    background-color: rgba(223, 223, 223, 0.4);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
  }
  
  .dropdown_content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown_content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown_content {display: block;}
  
  .dropdown:hover .dropdown_button {background-color: rgba(255, 255, 255, 0.4);}