body {margin: 1%; 
    background-image: url(bilder/keith-misner-h0Vxgz5tyXA-unsplash.jpg);
    background-attachment: fixed;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(233, 236, 245);
    text-shadow: 1px 2px 2px rgb(0, 0, 0);}

a {color: white ; text-decoration: none;}
a:hover {color: blue; font-style: italic;}
a:active {color: deeppink; font-style: oblique;}


/*header inställningar*/
header {display: inline-flex;}
h1 {text-align: center;}
#profil {width: 160px;}

nav {width: 1242px;
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.4), rgba(159, 159, 159, 0.2));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.4), rgba(159, 159, 159, 0.2));
    border-radius: 10px;}
ul {margin-top: 5%;}
li {display: inline; 
    padding-left: 200px;
    margin-top: 10px;
    font-family: comic 'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
    font-size: larger;}

/*Main css*/
main {display: inline-flex;}
h2 {text-align: center;}
#hobbies, #bio, #exp {text-align: justify; 
                    width: 355px;
                    margin: 20px;
                    padding-left: 40px;
                    padding-right: 40px;
                    color: rgb(233, 236, 245);
                    text-shadow: 1px 2px 2px rgb(0, 0, 0);}

#hobbies p, #bio p, #exp p {background-color: rgba(56, 54, 51, 0.5);
                            border-radius: 10px;
                        padding: 10px;}

figure {margin-left: 450px;}
a.cbutton {height: 313px; 
    background-image: url(bilder/Skärmbild\ 2023-10-25\ 161701.png);
    display: inline-block;
    border-radius: 10px;}
a#csharp {width: 500px;
        background-position: 0px 0px;}
a#csharp:hover {background-position: 0px -313px;}
a#csharp:active {background-position: 0px -626px;}


/*Footer Css*/
footer {text-align: center;
    padding-bottom: 50px;
    background-color: rgba(56, 54, 51, 0.5);
    border-radius: 10px;}
.logo {margin-left: 50px;
    margin-right: 50px;
    width: 50px;}
#buttontop {text-align: left;}


/*kontakt instälningar*/
fieldset {text-align: justify; margin-left: 490px; 
    background-color: rgba(200, 200, 200, 0.7);
    border-radius: 10px;}
.label {display: inline-block; text-align: left; width: 200px;}
.input {display: inline-block; text-align: right; width: 200px;}
.integrity {display: inline-flex; width: fit-content;}
#check {margin: 20px;}
#button {margin: 20px; margin-left: 150px;}
textarea {display: block; width: 400px;}
input {margin-bottom: 15px;}