h1 {text-align: center; padding-bottom: 0px;}
img {/*border: 2px solid black; */
    width: 130px;
    margin: 0%;}
/*nav {border: 1px solid black; width: 300px;}*/
nav {display:inline-flex; 
    /*border: 2px solid black; */
    width: 90%;
    margin: 0px;}
li {display: inline; padding: 160px;}
